VanillaOpenAIFramework:
  - task: "ner"
    n_runs: 10
    init_kwargs:
      prompt: "Extract and resolve a list of entities from the following text: {text}"
      llm_model: "gpt-4o-mini-2024-07-18"
      llm_model_family: "openai"
      source_data_pickle_path: "data/ner.pkl"

InstructorFramework:
  - task: "ner"
    n_runs: 10
    init_kwargs:
      prompt: "Extract and resolve a list of entities from the following text: {text}"
      llm_model: "gpt-4o-mini-2024-07-18"
      llm_model_family: "openai"
      retries: 2
      source_data_pickle_path: "data/ner.pkl"

MirascopeFramework:
  - task: "ner"
    n_runs: 10
    init_kwargs:
      prompt: "Extract and resolve a list of entities from the following text: {text}"
      llm_model: "gpt-4o-mini-2024-07-18"
      llm_model_family: "openai"
      retries: 2
      source_data_pickle_path: "data/ner.pkl"

MarvinFramework:
  - task: "ner"
    n_runs: 10
    init_kwargs:
      prompt: "Extract and resolve a list of entities from the following text: {text}"
      llm_model: "gpt-4o-mini-2024-07-18"
      llm_model_family: "openai"
      retries: 0 # Marvin has no retry parameter
      source_data_pickle_path: "data/ner.pkl"

LlamaIndexFramework:
  - task: "ner"
    n_runs: 10
    init_kwargs:
      prompt: "Extract and resolve a list of entities from the following text: {text}"
      llm_model: "gpt-4o-mini-2024-07-18"
      llm_model_family: "openai"
      retries: 0 # LlamaIndex has no retry parameter
      source_data_pickle_path: "data/ner.pkl"

LMFormatEnforcerFramework:
  - task: "ner"
    n_runs: 10
    init_kwargs:
      prompt: "Extract and resolve a list of entities from the following text: {text}.\nRespond in the following json schema: {json_schema}:\n"
      llm_model: "unsloth/llama-3-8b-Instruct-bnb-4bit"
      llm_model_family: "transformers"
      retries: 0 
      source_data_pickle_path: "data/ner.pkl"
      max_length: 4096

VanillaGoogleFramework:
  - task: "ner"
    n_runs: 1
    init_kwargs:
      prompt: "Extract and resolve a list of entities from the following text: {text}"
      llm_model: "gemini-2.0-flash"
      llm_model_family: "google"
      source_data_pickle_path: "data/ner.pkl"
      api_delay_seconds: 5

VanillaOllamaFramework:
  - task: "ner"
    n_runs: 1
    init_kwargs:
      prompt: "Extract and resolve a list of entities from the following text: {text}"
      llm_model: "gemma3:12b-it-qat"
      llm_model_family: "ollama"
      source_data_pickle_path: "data/ner.pkl"
      host: "http://localhost:11434"